<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Game Life</title>
    <link rel="stylesheet" href="/statics/style/index.css">
</head>
<body>
    <div class="main">
        <div class="works">
            <span>Works</span>
            <div class="button_icon"><img src="/statics/images/button1.png"></div>
        </div>
        <div class="begin">
            <span>Begin</span>
            <div class="button_icon"><img src="/statics/images/button1.png"></div>
        </div>
    </div>
    <div class="loginButton">登录</div>
    <div class="login_register">
        <div class="brand">Game Life</div>
        <div class="userName"><div class="text"><img src="/statics/images/user.png"></div ><input id="username" placeholder="用户名" type="text"></div>
        <div class="password"><div class="text"><img src="/statics/images/lock.png"></div ><input id="password" placeholder="密码" type="password"></div>
        <div class="lr_button">
            <div class="login">登录</div>
            <div class="or">or</div>
            <div class="register">注册</div>
        </div>
    </div>

    <div class="bg"></div>
    <script src="/statics/js/jquery-3.1.1.min.js"></script>
    <script src="/statics/js/common.js"></script>
    <script src="/statics/js/index.js"></script>
</body>
</html>